@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,400&family=Inter:wght@400;600;700;800&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #1B4332;
  --color-secondary: #F5EBE0;
  --color-accent: #FB8500;

  --font-sans: "Work Sans", sans-serif;
  --font-heading: "Inter", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

@layer base {
  body {
    @apply bg-secondary text-primary font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-bold;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}